---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret cloudflare-tunnel-substitute
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *secret
    template:
      data:
        SECRET_CLOUDFLARE_TUNNEL_ID: '{{ .SECRET_CLOUDFLARE_TUNNEL_ID }}'
  dataFrom:
    - extract:
        key: cloudflare
