---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app esphome
  namespace: &namespace home-automation
spec:
  interval: 1h
  targetNamespace: *namespace
  components:
    - ../../../../components/volsync
    - ../../../../components/ext-auth
  path: ./kubernetes/apps/home-automation/esphome/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: multus-networks
      namespace: network
    - name: storage-ready
      namespace: flux-system
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 5Gi
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
