---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app home-assistant
  namespace: &namespace home-automation
spec:
  interval: 1h
  components:
    - ../../../../components/volsync
    - ../../../../components/ext-auth
  dependsOn:
    - name: multus-networks
      namespace: network
    - name: storage-ready
      namespace: flux-system
  path: ./kubernetes/apps/home-automation/home-assistant/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 50Gi
      EXT_AUTH_TARGET: home-assistant-code
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
