---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app paperless
  namespace: &namespace self-hosted
spec:
  interval: 1h
  components:
    - ../../../../components/volsync
    - ../../../../components/keda/nfs-scaler
    - ../../../../components/cnpg/db
  dependsOn:
    - name: keda
      namespace: observability
    - name: storage-ready
      namespace: flux-system
    - name: dragonfly-cluster
      namespace: database
    - name: postgres-cluster
      namespace: database
  path: ./kubernetes/apps/self-hosted/paperless/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 50Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
