---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app your-spotify
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: docker.io/yooooomi/your_spotify_server
              tag: 1.16.0@sha256:c1bca9845663e2459a447dae611db8358eeaad006e53b2f03bc3916052b14b97
            env:
              # Caveat if it includes Spotify in name: https://github.com/Yooooomi/your_spotify/pull/254
              API_ENDPOINT: &api_endpoint https://ys.tholinka.dev/api
              CLIENT_ENDPOINT: https://ys.tholinka.dev
              MONGO_ENDPOINT: mongodb://your_spotify:$(DB_PASSWORD)@ferretdb.database.svc.cluster.local/your-spotify
              PORT: &port 8080
              MONGO_NO_ADMIN_RIGHTS: 'true'
            envFrom:
              - secretRef:
                  name: your-spotify-secret
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
      web:
        containers:
          app:
            image:
              repository: docker.io/yooooomi/your_spotify_client
              tag: 1.16.0@sha256:848cfed544bb41154001f2d15041103e4c7bcae1d935ca21242e95f727df1cfe
            env:
              API_ENDPOINT: *api_endpoint
            probes: *probes
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
    service:
      server:
        controller: server
        primary: true
        ports:
          http:
            port: *port
      web:
        controller: web
        ports:
          http:
            port: &webport 3000
    route:
      app:
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
          - ys.tholinka.dev
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: '/api'
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: '/'
            backendRefs:
              - identifier: server
                port: *port
          - matches:
              - path:
                  type: PathPrefix
                  value: '/'
            backendRefs:
              - identifier: web
                port: *webport
