---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/pushsecret_v1alpha1.json
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: lets-encrypt-tls
spec:
  secretStoreRefs:
    - name: bitwarden
      kind: ClusterSecretStore
  selector:
    secret:
      name: tholinka-dev-tls
  template:
    engineVersion: v2
    data:
      # needs to be b64enc
      tls.crt: '{{ index . "tls.crt" | b64enc }}'
      tls.key: '{{ index . "tls.key" | b64enc }}'
  data:
    - match:
        remoteRef:
          remoteKey: lets_encrypt_tls
