---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app octoprint
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/octoprint
              tag: 1.11.5@sha256:f334f1b6d33cf17879daa11de73d8defa5b4760d6a27b957f7c222640e76dc33
            probes:
              liveness: &probes
                enabled: true
                type: HTTP
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 100m
                memory: 100Mi
              limits:
                memory: 500Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 5000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/name: OctoPrint
          gethomepage.dev/group: Home
          gethomepage.dev/icon: octoprint.svg
        hostnames:
          - '{{.Release.Name}}.tholinka.dev'
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      app:
        existingClaim: *app
        globalMounts:
          - path: /config
            subPath: data
