---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: go2rtc
  namespace: &namespace home-automation
spec:
  interval: 1h
  path: ./kubernetes/apps/home-automation/go2rtc/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  postBuild:
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
