[botdetection]

# The prefix defines the number of leading bits in an address that are compared
# to determine whether or not an address is part of a (client) network.

ipv4_prefix = 32
ipv6_prefix = 48

# If the request IP is in trusted_proxies list, the client IP address is
# extracted from the X-Forwarded-For and X-Real-IP headers. This should be
# used if SearXNG is behind a reverse proxy or load balancer.

trusted_proxies = [
	'127.0.0.0/8',
	'::1',
	'192.168.0.0/16',
	'172.16.0.0/12',
	'10.0.0.0/8',
	'fd00::/8',
	'fc00::/8',
	'${IPV6_SERVICES_PREFIX}::/64',
]

[botdetection.ip_limit]

# To get unlimited access in a local network, by default link-local addresses
# (networks) are not monitored by the ip_limit
filter_link_local = true

# activate link_token method in the ip_limit method
link_token = true

[botdetection.ip_lists]

# In the limiter, the ip_lists method has priority over all other methods -> if
# an IP is in the pass_ip list, it has unrestricted access and it is also not
# checked if e.g. the "user agent" suggests a bot (e.g. curl).

block_ip = []

pass_ip = [
	'192.168.0.0/16',     # IPv4 private network
	'${IOT_PREFIX}::/56', # IPv6 local network
]

# Activate passlist of (hardcoded) IPs from the SearXNG organization,
# e.g. `check.searx.space`.
pass_searxng_org = false
