---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app zwave
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      *app :
        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.12.0@sha256:ca599b5d7afd4832848c8fb7a7eded38ea3494bce560a14c1b8304f6497fe17a
            env:
              PORT: &port 80
              TRUST_PROXY: true
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health/
                    port: *port
              startup: *probes
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 256Mi
        pod:
          hostUsers: false
    service:
      app:
        ports:
          http:
            port: *port
          websocket:
            port: 3000
    route:
      app:
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/name: Z-Wave
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/icon: z-wave-js-ui.svg
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /usr/src/app/store
      config-cache:
        existingClaim: '{{ .Release.Name }}-cache'
        globalMounts:
          - path: /usr/src/app/store/.config-db
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/store/logs
            subPath: logs
          - path: /tmp
            subPath: tmp
