---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app dnscrypt-proxy
  namespace: &namespace network
spec:
  components:
    - ../../../../components/ext-auth
  postBuild:
    substitute:
      APP: *app
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
  interval: 1h
  targetNamespace: *namespace
  path: ./kubernetes/apps/network/dnscrypt-proxy/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
