---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        ## Generics
        HOMEPAGE_VAR_LATITUDE: '{{ .HASS_LATITUDE }}'
        HOMEPAGE_VAR_LONGITUDE: '{{ .HASS_LONGITUDE }}'

        ## Home
        HOMEPAGE_VAR_HA_TOKEN: '{{ .HASS_LONG_LIVED_TOKEN }}'

        ## Media
        HOMEPAGE_VAR_AUTOBRR_TOKEN: '{{ .AUTOBRR_HOMEPAGE_API_KEY }}'
        HOMEPAGE_VAR_BAZARR_TOKEN: '{{ .BAZARR_API_KEY }}'
        HOMEPAGE_VAR_CALIBRE_USER: '{{ .CALIBRE_USER }}'
        HOMEPAGE_VAR_CALIBRE_PASS: '{{ .CALIBRE_PASS }}'
        HOMEPAGE_VAR_KAVITA_TOKEN: '{{ .KAVITA_API_KEY }}'
        HOMEPAGE_VAR_LIDARR_TOKEN: '{{ .LIDARR_API_KEY }}'
        HOMEPAGE_VAR_PLEX_TOKEN: '{{ .PLEX_TOKEN }}'
        HOMEPAGE_VAR_PROWLARR_TOKEN: '{{ .PROWLARR_API_KEY }}'
        HOMEPAGE_VAR_QBITTORRENT_PROXY: 'https://qui.tholinka.dev/proxy/{{ .QBITTORRENT_PROXY }}'
        HOMEPAGE_VAR_RADARR_TOKEN: '{{ .RADARR_API_KEY }}'
        HOMEPAGE_VAR_SABNZBD_TOKEN: '{{ .SABNZBD_API_KEY }}'
        HOMEPAGE_VAR_SEERR_TOKEN: '{{ .SEERR_API_KEY }}'
        HOMEPAGE_VAR_SLSKD_TOKEN: '{{ .SLSKD_API_KEY }}'
        HOMEPAGE_VAR_SONARR_TOKEN: '{{ .SONARR_API_KEY }}'
        HOMEPAGE_VAR_TAUTULLI_TOKEN: '{{ .TAUTULLI_API_KEY }}'
        ## Security
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: '{{ .AUTHENTIK_TOKEN }}'

        ## Self Hosted
        HOMEPAGE_VAR_IMMICH_TOKEN: '{{ .IMMICH_API_KEY }}'
        HOMEPAGE_VAR_PAPERLESS_TOKEN: '{{ .PAPERLESS_API_KEY }}'
  dataFrom:
    ## generic
    - extract:
        key: homepage
    ## home
    - extract:
        key: home_assistant
    ## Media
    - extract:
        key: autobrr
    - extract:
        key: bazarr
    - extract:
        key: calibre
    - extract:
        key: kavita
    - extract:
        key: lidarr
    - extract:
        key: plex
    - extract:
        key: prowlarr
    - extract:
        key: radarr
    - extract:
        key: sabnzbd
    - extract:
        key: seerr
    - extract:
        key: slskd
    - extract:
        key: sonarr
    - extract:
        key: authentik
    - extract:
        key: immich
    - extract:
        key: paperless
