---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app homepage
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    defaultPodOptions:
      hostUsers: false
    controllers:
      homepage:
        replicas: 1
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.10.1@sha256:0b596092c0b55fe4c65379a428a3fe90bd192f10d1b07d189a34fe5fabe7eedb
            env:
              HOMEPAGE_ALLOWED_HOSTS: 'tholinka.dev,{{ .Release.Name }}.tholinka.dev'
            envFrom:
              - secretRef:
                  name: homepage-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 15m
                memory: 200M
              limits:
                memory: 1G
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false # does funky uid stuff
              capabilities:
                drop:
                  - ALL
    service:
      app:
        ports:
          http:
            port: 3000
    serviceAccount:
      *app : {}
    rbac:
      roles:
        homepage:
          type: ClusterRole
          rules:
            - apiGroups:
                - ''
              resources:
                - namespaces
                - pods
                - nodes
              verbs:
                - get
                - list
            - apiGroups:
                - extensions
                - networking.k8s.io
              resources:
                - ingresses
              verbs:
                - get
                - list
            - apiGroups:
                - gateway.networking.k8s.io
              resources:
                - httproutes
                - gateways
              verbs:
                - get
                - list
            - apiGroups:
                - metrics.k8s.io
              resources:
                - nodes
                - pods
              verbs:
                - get
                - list
            - apiGroups:
                - apiextensions.k8s.io
              resources:
                - customresourcedefinitions/status
              verbs:
                - get
                - list
            - apiGroups:
                - metrics.k8s.io
              resources:
                - nodes
                - pods
              verbs:
                - get
                - list
      bindings:
        homepage:
          type: ClusterRoleBinding
          subjects:
            - kind: ServiceAccount
              name: *app
              namespace: self-hosted # ensure matches app
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: *app

    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            group: internal
            guarded: true
        hostnames:
          # - '{{ .Release.Name }}.tholinka.dev'
          - tholinka.dev
        parentRefs:
          # - name: envoy-internal
          #   namespace: network
          - name: envoy-internal-root
            namespace: network
    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - subPath: bookmarks.yaml
            path: /app/config/bookmarks.yaml
          - subPath: docker.yaml
            path: /app/config/docker.yaml
          - subPath: kubernetes.yaml
            path: /app/config/kubernetes.yaml
          - subPath: services.yaml
            path: /app/config/services.yaml
          - subPath: settings.yaml
            path: /app/config/settings.yaml
          - subPath: widgets.yaml
            path: /app/config/widgets.yaml
