---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dnscrypt-proxy
  namespace: network
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        replicas: 3
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
          surge: 1
        containers:
          app:
            image:
              repository: ghcr.io/klutchell/dnscrypt-proxy
              tag: 2.1.15@sha256:70a2028703b85218ec8b3af04ac73ee108ec7d9f1c8fa653129ba373b49e800b
            probes:
              liveness: &dnscrypt-probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /usr/local/bin/dnsprobe
                      - localhost
                      - '127.0.0.1'
              readiness: *dnscrypt-probes
            resources:
              requests:
                cpu: 25m
              limits:
                memory: 32Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFileSystem: true
              capabilities: { drop: ['ALL'] }
    defaultPodOptions:
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - pihole
                topologyKey: kubernetes.io/hostname
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app.kubernetes.io/name
                      operator: In
                      values:
                        - dnscrypt-proxy
                topologyKey: kubernetes.io/hostname
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      priorityClassName: system-cluster-critical
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 1.1.1.1
        options:
          - name: ndots
            value: '1'
    service:
      *app :
        type: LoadBalancer
        ipFamilies: [IPv4, IPv6]
        ipFamilyPolicy: PreferDualStack
        annotations:
          lbipam.cilium.io/ips: 192.168.21.7, ${IPV6_SERVICES_PREFIX}::7
        ports:
          http:
            primary: true
            port: 80
          dns-udp:
            port: 53
            protocol: UDP
          dns-tcp:
            port: 53
            protocol: TCP

    route:
      app:
        hostnames: ['{{ .Release.Name }}.tholinka.dev']
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs: [{}]
            sessionPersistence:
              sessionName: *app
              type: Cookie
              absoluteTimeout: 35m
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Infrastructure
          gethomepage.dev/name: Dnscrypt Proxy
          gethomepage.dev/icon: azure-dns.svg

    serviceMonitor:
      app:
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s

    persistence:
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /config
            subPath: config
      config-map:
        type: configMap
        name: dnscrypt-proxy-configmap
        advancedMounts:
          *app :
            app:
              - path: /config/dnscrypt-proxy.toml
                subPath: dnscrypt-proxy.toml
                readOnly: true
