---
# yaml-language-server: $schema=https://raw.githubusercontent.com/kashalls/kromgo/main/config.schema.json
badge:
  font: Verdana.ttf
  size: 12

metrics:
  - name: talos_version
    query: label_replace(node_os_info{name="Talos"}, "version_id", "$1", "version_id", "v(.+)")
    label: version_id
    title: Talos

  - name: kubernetes_version
    query: label_replace(kubernetes_build_info{service="kubernetes"}, "git_version", "$1", "git_version", "v(.+)")
    label: git_version
    title: Kubernetes

  - name: flux_version
    query: label_replace(flux_instance_info, "revision", "$1", "revision", "v(.+)@sha256:.+")
    label: revision
    title: Flux

  - name: cluster_node_count
    query: count(count by (node) (kube_node_status_condition{condition="Ready"}))
    colors:
      - { color: 'green', min: 0, max: 9999 }
    title: Nodes

  - name: cluster_pod_count
    query: sum(kube_pod_status_phase{phase="Running"})
    colors:
      - { color: 'green', min: 0, max: 9999 }
    title: Pods

  - name: cluster_cpu_usage
    query: round(avg(instance:node_cpu_utilisation:rate5m{pod!=""}) * 100, 0.1)
    title: CPU
    suffix: '%'
    colors:
      - { color: 'green', min: 0, max: 50 }
      - { color: 'orange', min: 51, max: 75 }
      - { color: 'red', min: 76, max: 9999 }

  - name: cluster_memory_usage
    query: round(sum(node_memory_MemTotal_bytes{pod!=""} - node_memory_MemAvailable_bytes{pod!=""}) / sum(node_memory_MemTotal_bytes{pod!=""}) * 100, 0.1)
    title: Memory
    suffix: '%'
    colors:
      - { color: green, min: 0, max: 50 }
      - { color: orange, min: 51, max: 75 }
      - { color: red, min: 76, max: 9999 }

  - name: cluster_power_usage
    query: round(unpoller_device_outlet_ac_power_consumption, 0.1)
    title: Power
    suffix: 'w'
    colors:
      - { color: 'green', min: 0, max: 350 }
      - { color: 'orange', min: 351, max: 500 }
      - { color: 'red', min: 501, max: 9999 }

  - name: internet_power_usage
    query: round(ha_sensor_power_w{entity="sensor.internet_outlet_current_consumption"}, 0.1)
    title: Power
    suffix: 'w'
    colors:
      - { color: 'green', min: 0, max: 70 }
      - { color: 'orange', min: 71, max: 100 }
      - { color: 'red', min: 101, max: 9999 }

  - name: cluster_age_days
    query: round((time() - min(kube_node_created) ) / 86400)
    title: Age
    suffix: 'd'
    colors:
      - { color: 'green', min: 31, max: 9999 }
      - { color: 'orange', min: 11, max: 30 }
      - { color: 'red', min: 0, max: 10 }

  - name: cluster_uptime_days
    query: round(avg(node_time_seconds{pod!=""} - node_boot_time_seconds{pod!=""}) / 86400)
    suffix: 'd'
    colors:
      - { color: 'green', min: 7, max: 9999 }
      - { color: 'orange', min: 3, max: 6 }
      - { color: 'red', min: 0, max: 2 }

  - name: cluster_alert_count
    query: alertmanager_alerts{state="active"} - 1 # Ignore Watchdog
    colors:
      - { color: 'green', min: 0, max: 0 }
      - { color: 'red', min: 1, max: 9999 }
    title: Alerts
