---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
            env:
              DOT: 'off'
              DNS_ADDRESS: 10.96.0.10 # coredns is either pihole, dnsmasq, or cloudflare over tls, so it's fine to use
              HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              FIREWALL_INPUT_PORTS: 80,8388,9999 # 80: WebUI, 8388 Socks Proxy, 9999 Kube Probes
              FIREWALL_OUTBOUND_SUBNETS: 10.69.0.0/16,10.96.0.0/16 # Allow access to k8s subnets
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_SUCCESS_WAIT_DURATION: 10s
              VPN_TYPE: wireguard
              VPN_PORT_FORWARDING: 'on'
              PORT_FORWARD_ONLY: 'on'
              VPN_INTERFACE: tun0
              SERVER_COUNTRIES: 'United States'
              UPDATER_PERIOD: 24h
            envFrom:
              - secretRef:
                  name: wireguard
            probes:
              liveness:
                enabled: true
                custom: true
                spec: &probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        [ $(wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/openvpn/portforwarded) != '{"port":0}' ]
                  initialDelaySeconds: 10
                  periodSeconds: 60
                  successThreshold: 1
                  timeoutSeconds: 30
                  failureThreshold: 30
              startup:
                enabled: true
                custom: true
                spec:
                  <<: *probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/publicip/ip
                  periodSeconds: 10
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - >-
                      (ip rule del table 51820; ip -6 rule del table 51820) || true
            restartPolicy: Always
            securityContext:
              # can't be non-root, or it has no access to tunnel
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false # wants to create a user, etc
              capabilities:
                add: [NET_ADMIN]
            resources:
              requests:
                cpu: 20m
              limits:
                squat.ai/tun: 1
                memory: 100Mi
          # TODO: Replace once gluetun supports socks5, nothing supports shadowsocks
          socks5:
            restartPolicy: Always
            image:
              repository: serjs/go-socks5-proxy
              tag: latest@sha256:0af522996f402c03ecd985a87997158eabeb28935365e3a384df37eafcf740ea
            env:
              PROXY_PORT: &proxy-port 8388
              REQUIRE_AUTH: 'false'
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 32Mi
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
        containers:
          # in qbit config, set "on torrent finished" set to "curl -v http://webhook.media.svc.cluster.local/hooks/qbit-pushover --header 'Content-Type: application/json' --data-raw '{"name": "%N", "cat": "%L", "size": "%Z", "indexer": "%T"}'"
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.2@sha256:31ac39705e31f7cdcc04dc46c1c0b0cdf8dc6f9865d4894efc097a33adc41524
            env:
              UMASK: '022'
              QBT_WEBUI_PORT: &port 80
              PUSHOVER_ENABLED: true
            envFrom:
              - secretRef:
                  name: *app
            probes:
              startup:
                enabled: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  failureThreshold: 30
                  periodSeconds: 10
                  timeoutSeconds: 5
            securityContext: *securityContext
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 8Gi
          port-forward:
            image:
              repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              tag: 0.0.4@sha256:6060da1978c5ec8ea1cad56d8538f35b504b1dcb3fc9845f1f69b18d1b36020a
            env:
              GLUETUN_CONTROL_SERVER_HOST: localhost
              GLUETUN_CONTROL_SERVER_PORT: 8000
              CRON_ENABLED: true
              CRON_SCHEDULE: '*/5 * * * *'
              LOG_TIMESTAMP: false
            envFrom:
              - secretRef:
                  name: *app
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 32Mi
            securityContext: *securityContext
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        primary: true
        forceRename: *app
        ports:
          http:
            primary: true
            port: *port
      gluetun:
        suffix: gluetun
        ports:
          socks-proxy:
            port: *proxy-port
    route:
      app:
        hostnames:
          - 'qb.${SECRET_DOMAIN}'
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs: [{ identifier: app }]

    configMaps:
      config:
        data:
          .qbt.toml: |
            [qbittorrent]
            addr = "http://localhost:80"

    persistence:
      config:
        existingClaim: *app
        advancedMounts:
          *app :
            app:
              - path: /config
      config-file:
        type: configMap
        name: *app
        advancedMounts:
          *app :
            app:
              - path: /config/.qbt.toml
                subPath: .qbt.toml
                readOnly: true

      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            port-forward:
              - path: /config
                subPath: config
            app:
              - path: /addons
                subPath: addons
            vuetorrent:
              - path: /addons
                subPath: addons

      gluetun-auth:
        type: secret
        name: '{{ .Release.Name }}-gluetun'
        advancedMounts:
          *app :
            gluetun:
              - path: *gluetunAuthPath
                subPath: auth.toml
      media:
        type: nfs
        server: nas.servers.internal
        path: /media
        globalMounts:
          - path: /media/downloads/qbittorrent
            subPath: downloads/qbittorrent
