---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app shelfmark
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'

        initContainers:
          init:
            image: &image
              repository: ghcr.io/calibrain/shelfmark
              tag: v1.1.1@sha256:5a2ffced0d09c38083b17386f2272cfd91af9906431918a8569ed50fb273129c
            command:
              - bash
              - -c
              - 'exec cp -r /usr/local/lib/python3.10/site-packages/seleniumbase/drivers/* /mnt'
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }

        containers:
          app:
            image: *image
            env:
              FLASK_PORT: &port 80
              DEBUG: false
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
              CUSTOM_DNS: system

              USING_EXTERNAL_BYPASSER: true
              EXT_BYPASSER_URL: http://flaresolverr.media.svc.cluster.local:8191
              BYPASS_WARMUP_ON_CONNECT: false

              METADATA_PROVIDER: openlibrary

              SEARCH_MODE: universal

              PROWLARR_ENABLED: true
              PROWLARR_URL: http://prowlarr.media.svc.cluster.local
              PROWLARR_TORRENT_CLIENT: qbittorrent
              QBITTORRENT_CATEGORY_AUDIOBOOK: audiobooks
              PROWLARR_USENET_CLIENT: sabnzbd
              SABNZBD_URL: http://sabnzbd.media.svc.cluster.local
            envFrom:
              - secretRef:
                  name: *app
            command: # don't run annoying init script
              - gunicorn
              - --log-level
              - info
              - --access-logfile
              - '-'
              - --error-logfile
              - '-'
              - --worker-class
              - geventwebsocket.gunicorn.workers.GeventWebSocketWorker
              - --workers
              - '1'
              - -t
              - '300'
              - -b
              - 0.0.0.0:80
              - shelfmark.main:app
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
              readiness: *probe
              startup: *probe
            securityContext: *securityContext
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits: # some of the cloudflare attempts can really spike usage
                cpu: 1
                memory: 1Gi
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: 'OnRootMismatch'

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ['{{ .Release.Name }}.tholinka.dev']
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      config:
        storageClass: ceph-block
        accessMode: ReadWriteOnce
        size: 2Gi
        advancedMounts:
          *app :
            app:
              - path: /config
                subPath: config
              - path: /app/downloaded_files
                subPath: download
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              # chromium needs the XDG_CONFIG_HOME created
              # because user 1000 doesn't exist, ~ = /
              - path: /.config
                subPath: config
              - path: /tmp
                subPath: tmp
              - path: /var/log/cwa-book-downloader/
                subPath: log
              - path: /usr/local/lib/python3.10/site-packages/seleniumbase/drivers
                subPath: drivers
            init:
              - path: /mnt
                subPath: drivers
      media:
        type: nfs
        server: nas.servers.internal
        path: /media
        advancedMounts:
          *app :
            app:
              - path: *ingest
                subPath: downloads/openbooks
