---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: esphome-secrets
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: esphome-secrets
    creationPolicy: Owner
    template:
      data:
        secrets.yaml: |-
          wifi_ssid: "{{ .ESPHOME_WIFI_SSID }}"
          wifi_password: "{{ .ESPHOME_WIFI_PASSWORD }}"
          wifi_fallback_ssid_password: "{{ .ESPHOME_WIFI_FALLBACK_SSID_PASSWORD }}"

          mqtt_host: mqtt.tholinka.dev
          mqtt_username: "{{ .EMQX_MQTT_USERNAME }}"
          mqtt_password: "{{ .EMQX_MQTT_PASSWORD }}"

          ota_password: "{{ .ESPHOME_OTA_PASSWORD }}"

          domain_devices: iot.internal
  dataFrom:
    - extract:
        key: esphome
    - extract:
        key: emqx
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: esphome-deploykey
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: esphome-deploykey
    creationPolicy: Owner
  data:
    - secretKey: id_ed25519
      remoteRef:
        key: esphome
        property: github_deploy_key
