---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app esphome
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      esphome:
        annotations:
          secret.reloader.stakater.com/reload: esphome-secrets,esphome-deploykey

        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: |
              [{
                "name":"iot",
                "namespace": "network",
                "ips": ["192.168.30.12/24", "${IPV6_IOT_PREFIX}:12::1/64"],
                "mac": "92:cf:d7:05:70:84"
              }]
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        containers:
          app:
            image:
              repository: ghcr.io/home-operations/esphome
              tag: 2026.1.0@sha256:8f151bbd451517ebb000c9094646475d3ea10b4559fbb8dc919926208e86c017
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 5m
                memory: 512Mi
              limits:
                memory: 3072Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
          code-server:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.108.1@sha256:867b9a9dedd68f1b46e308cad9525e419db7b0ce0c83831f6a350f37ee7ff6fd
            args:
              - --auth
              - none
              - --disable-telemetry
              - --disable-update-check
              - --user-data-dir
              - /mnt/code-server
              - --extensions-dir
              - /mnt/code-server
              - --port
              - '12321'
              - /config
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi

    service:
      app:
        ports:
          http:
            port: &http 6052
          code-server:
            port: &code 12321

    route:
      app:
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - name: *app
                port: *http
          - matches:
              - path:
                  type: PathPrefix
                  value: /code
            backendRefs:
              - name: *app
                port: *code
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/name: ESPHome
          gethomepage.dev/group: Dev Tools
          gethomepage.dev/icon: esphome.svg
          gethomepage.dev/widget.type: esphome
          gethomepage.dev/widget.url: 'http://esphome.home-automation.svc.cluster.local.:6052'

    persistence:
      config:
        existingClaim: esphome
        advancedMounts:
          esphome:
            app:
              - path: /config
                subPath: config
            code-server:
              - path: /config
                subPath: config
              - path: /mnt/code-server
                subPath: code-server
      secrets:
        type: secret
        name: esphome-secrets
        globalMounts:
          - path: /config/secrets.yaml
            subPath: secrets.yaml
      buildcache:
        suffix: buildcache
        size: 50Gi
        accessMode: ReadWriteOnce
        advancedMounts:
          esphome:
            app:
              - path: /cache
      tmpfs:
        type: emptyDir
        advancedMounts:
          esphome:
            app:
              - path: /tmp
                subPath: esphome-tmp
            code-server:
              - path: /tmp
                subPath: code-server-tmp
              - path: /nonexistent
                subPath: nonexistent
      deploy-key:
        type: secret
        name: esphome-deploykey
        defaultMode: 256
        advancedMounts:
          esphome:
            code-server:
              - path: /home/coder/.ssh/id_ed25519
                subPath: id_ed25519
