---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret lab-assistant-pem
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *secret
    template:
      data:
        private_key_pem: '{{ .GITHUB_APP_PRIVATE_KEY }}'
  dataFrom:
    - extract:
        key: github
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/generators.external-secrets.io/githubaccesstoken_v1alpha1.json
apiVersion: generators.external-secrets.io/v1alpha1
kind: GithubAccessToken
metadata:
  name: lab-assistant-auth-token
spec:
  appID: '1137029'
  installID: '60666405'
  auth:
    privateKey:
      secretRef:
        name: lab-assistant-pem # reference secret from step 1.
        key: private_key_pem
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret lab-assistant-tholinka
spec:
  target:
    name: *secret
    template:
      data:
        GITHUB_COM_TOKEN: '{{ .token }}'
        GITHUB_COM_USER: dGhvbGlua2E=
        RENOVATE_TOKEN: '{{ .token }}'
  dataFrom:
    - sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: GithubAccessToken
          name: lab-assistant-auth-token
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &secret dockerhub
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *secret
    template:
      data:
        DOCKERHUB_USERNAME: '{{ .DOCKERHUB_USERNAME }}'
        DOCKERHUB_TOKEN: '{{ .DOCKERHUB_TOKEN }}'
  dataFrom:
    - extract:
        key: dockerhub
