---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name immich
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        # oauth
        IMMICH_OAUTH_CLIENT_ID: '{{ .IMMICH_OAUTH_CLIENT_ID }}'
        IMMICH_OAUTH_CLIENT_SECRET: '{{ .IMMICH_OAUTH_CLIENT_SECRET }}'

        # email
        EMAIL_SERVER: '{{ .EMAIL_SERVER }}'
        EMAIL_USER: '{{ .EMAIL_USER }}'
        EMAIL_FROM: 'Immich Photos Server <{{ .EMAIL_FROM }}>'
        EMAIL_PASS: '{{ .EMAIL_PASS }}'
  dataFrom:
    - extract:
        key: immich
    - extract:
        key: email
