---
# yaml-language-server: $schema=https://schemas.tholinka.dev/gateway.networking.k8s.io/httproute_v1.json
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: immich-server
  annotations:
    gethomepage.dev/enabled: 'true'
    gethomepage.dev/group: Home
    gethomepage.dev/name: Immich
    gethomepage.dev/icon: immich.svg
    gethomepage.dev/widget.type: immich
    gethomepage.dev/widget.url: http://immich-server.self-hosted.svc.cluster.local:2283
    gethomepage.dev/widget.key: '{{HOMEPAGE_VAR_IMMICH_TOKEN}}'
    gethomepage.dev/widget.version: '2'
    gethomepage.dev/pod-selector: app.kubernetes.io/name=server
spec:
  hostnames:
    - 'photos.${SECRET_DOMAIN}'
  parentRefs:
    - name: envoy-internal
      namespace: network
  rules:
    - backendRefs:
        - name: immich-server
          port: 2283
      timeouts:
        request: 0s # websocket, never time out
        backendRequest: 0s # websocket, never time out
      matches:
        - path:
            type: PathPrefix
            value: /
