---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: authentik
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: authentik-secret
    template:
      data:
        AUTHENTIK_REDIS__DB: '1'

        # Authentik bootstrap
        AUTHENTIK_BOOTSTRAP_EMAIL: '{{ .AUTHENTIK_BOOTSTRAP_EMAIL }}'
        AUTHENTIK_BOOTSTRAP_PASSWORD: '{{ .AUTHENTIK_BOOTSTRAP_PASS }}'
        AUTHENTIK_BOOTSTRAP_TOKEN: '{{ .AUTHENTIK_TOKEN }}'
        AUTHENTIK_SECRET_KEY: '{{ .AUTHENTIK_SECRET_KEY }}'

        EMAIL_SERVER: '{{ .EMAIL_SERVER }}'
        EMAIL_USER: '{{ .EMAIL_USER }}'
        EMAIL_FROM: 'Authentik <{{ .EMAIL_FROM }}>'
        EMAIL_PASS: '{{ .EMAIL_PASS }}'

  dataFrom:
    - extract:
        key: authentik
    - extract:
        key: email
