---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app authentik
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    # if I ever lose the db, my setup is based heavily on https://github.com/joryirving/home-ops/tree/77478606352bfb43e6c1c5fcf0b5fa134d007095/terraform/authentik
    global:
      podAnnotations:
        secret.reloader.stakater.com/reload: &secret authentik-secret
      deploymentStrategy:
        type: RollingUpdate
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      envFrom:
        - secretRef:
            name: *secret
      env:
        - name: AUTHENTIK_POSTGRESQL__SSLMODE
          value: verify-full
        - name: AUTHENTIK_POSTGRESQL__SSLROOTCERT
          value: /var/run/secrets/postgresql/ca.crt
        - name: AUTHENTIK_POSTGRESQL__SSLCERT
          value: /var/run/secrets/postgresql/tls.crt
        - name: AUTHENTIK_POSTGRESQL__SSLKEY
          value: /var/run/secrets/postgresql/tls.key
      volumeMounts:
        - name: postgres-certs
          mountPath: /var/run/secrets/postgresql
      volumes:
        - name: postgres-certs
          secret:
            defaultMode: 0440
            secretName: postgres-authentik-cert
    authentik:
      postgresql:
        host: postgres-cluster-rw.database.svc.cluster.local
        name: *app
        user: *app
      email:
        port: 587
        use_tls: true
      redis:
        host: dragonfly-authentik
    server:
      autoscaling: &autoscaling
        enabled: true
        minReplicas: 1
        maxReplicas: 5
        targetCPUUtilizationPercentage: 60
        behavior:
          scaleUp:
            stabilizationWindowSeconds: 300
          scaleDown:
            stabilizationWindowSeconds: 300
      resources:
        requests:
          cpu: 300m
        limits:
          memory: 1Gi
      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
    worker:
      autoscaling: *autoscaling
      resources:
        requests:
          cpu: 300m
        limits:
          memory: 1Gi
    prometheus:
      rules:
        enabled: true
  valuesFrom:
    - targetPath: authentik.email.host
      kind: Secret
      name: authentik-secret
      valuesKey: EMAIL_SERVER
    - targetPath: authentik.email.username
      kind: Secret
      name: authentik-secret
      valuesKey: EMAIL_USER
    - targetPath: authentik.email.from
      kind: Secret
      name: authentik-secret
      valuesKey: EMAIL_FROM
    - targetPath: authentik.email.password
      kind: Secret
      name: authentik-secret
      valuesKey: EMAIL_PASS
