---
# yaml-language-server: $schema=https://schemas.tholinka.dev/monitoring.coreos.com/prometheusrule_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: gatus-rules
spec:
  groups:
    - name: gatus.rules
      rules:
        - alert: GatusExternalDown
          expr: |
            gatus_results_endpoint_success{group="external"} == 0
          for: 5m
          annotations:
            summary: >-
              The {{ $labels.name }} endpoint is down externally
          labels:
            severity: critical

        - alert: GatusInfrastructureDown
          expr: |
            gatus_results_endpoint_success{group="infrastructure"} == 0
          for: 5m
          annotations:
            summary: >-
              The {{ $labels.name }} infrastructure endpoint is down
          labels:
            severity: critical

        - alert: GatusInternalExposed
          expr: |
            gatus_results_endpoint_success{group="internal"} == 0
          for: 5m
          annotations:
            summary: >-
              The {{ $labels.name }} endpoint has a public DNS record and is exposed
          labels:
            severity: critical
