---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app searxng
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        replicas: 2
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
          surge: 1
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          main:
            image:
              repository: ghcr.io/searxng/searxng
              # very annoying version scheme, so we'll just use the latest tag + pin digest
              tag: latest@sha256:c6e6139c216bb2d6ca3fc03dd64d9f460411b1750f072051bf0b23098e6cebfc
            command: [/usr/local/searxng/.venv/bin/granian, searx.webapp:app]
            env:
              SEARXNG_BASE_URL: https://search.tholinka.dev
              GRANIAN_PORT: &port 8080
              GRANIAN_BLOCKING_THREADS: '1'
            envFrom:
              - secretRef:
                  name: *app
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /stats
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 3Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL
                add:
                  - CHOWN
                  - SETGID
                  - SETUID
                  - DAC_OVERRIDE

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 977
        runAsGroup: 977

    service:
      app:
        ports:
          http:
            port: *port
    route:
      internal:
        hostnames:
          - search.tholinka.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gatus.home-operations.com/enabled: 'false'
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Home
          gethomepage.dev/name: SearXNG Search
          gethomepage.dev/icon: searxng.svg
          gethomepage.dev/pod-selector: app.kubernetes.io/name={{ .Release.Name }}
      external:
        hostnames:
          - search.tholinka.dev
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          externaldns.enable.custom/internal: 'false'
    persistence:
      config:
        type: configMap
        name: searxng-configmap
        globalMounts:
          - path: /etc/searxng/settings.yml
            subPath: settings.yaml
            readOnly: true
          - path: /etc/searxng/limiter.toml
            subPath: limiter.toml
            readOnly: true
      tmpfs:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /etc/searxng
            subPath: searxng
