directives:
  child-src:
    - "'self'"
  connect-src:
    - "'self'"
    - 'blob:'
    - 'https://companion.tholinka.dev/'
    - 'wss://companion.tholinka.dev/'
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    - 'https://auth.tholinka.dev/'
  default-src:
    - "'none'"
  font-src:
    - "'self'"
  frame-ancestors:
    - "'self'"
  frame-src:
    - "'self'"
    - 'blob:'
    - 'https://embed.diagrams.net/'
    - 'https://collabora.tholinka.dev/'
    # This is needed for the external-sites web extension when embedding sites
    - 'https://docs.opencloud.eu'
  img-src:
    - "'self'"
    - 'data:'
    - 'blob:'
    - 'https://raw.githubusercontent.com/opencloud-eu/awesome-apps/'
    - 'https://collabora.tholinka.dev/'
  manifest-src:
    - "'self'"
  media-src:
    - "'self'"
  object-src:
    - "'self'"
    - 'blob:'
  script-src:
    - "'self'"
    - "'unsafe-inline'"
  style-src:
    - "'self'"
    - "'unsafe-inline'"
