---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app shelfmark
  namespace: &namespace media
spec:
  interval: 1h
  components:
    - ../../../../components/ext-auth
    - ../../../../components/keda/nfs-scaler
  dependsOn:
    - name: keda
      namespace: observability
  path: ./kubernetes/apps/media/shelfmark/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
