---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v4.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app error-pages
  namespace: network
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        replicas: 2
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/tarampampam/error-pages
              tag: 3.8.0
            env:
              TEMPLATE_NAME: connection
              SHOW_DETAILS: 'false'
              LISTEN_PORT: &port 80
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 5m
                memory: 16M
              limits:
                memory: 32M
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: { drop: ['ALL'] }

    defaultPodOptions:
      securityContext:
        runAsUser: 2000
        runAsGroup: 2000
        fsGroup: 2000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            port: *port

    route:
      internal: &route
        annotations:
          gatus.home-operations.com/enabled: 'false'
        parentRefs:
          - name: envoy-internal
            namespace: network
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
      external:
        <<: *route
        annotations:
          externaldns.enable.custom/internal: 'false'
        parentRefs:
          - name: envoy-external
            namespace: network
