---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: webhook
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: webhook-secret
    template:
      data:
        RADARR_PUSHOVER_URL: pover://{{ .PUSHOVER_USER_KEY }}@{{ .RADARR_PUSHOVER_TOKEN }}
        SEERR_PUSHOVER_URL: pover://{{ .PUSHOVER_USER_KEY }}@{{ .SEERR_PUSHOVER_TOKEN }}
        SONARR_PUSHOVER_URL: pover://{{ .PUSHOVER_USER_KEY }}@{{ .SONARR_PUSHOVER_TOKEN }}
        SONARR_API_KEY: '{{ .SONARR_API_KEY }}'
  dataFrom:
    - extract:
        key: radarr
    - extract:
        key: seerr
    - extract:
        key: sonarr
    - extract:
        key: pushover
