---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: self-hosted
resources:
  - ./atuin/ks.yaml
  - ./homepage/ks.yaml
  - ./immich/ks.yaml
  - ./ocis/ks.yaml
  - ./octoeverywhere-connect-cc/ks.yaml
  - ./orcaslicer/ks.yaml
  - ./paperless/ks.yaml
  - ./publish-k8s-schemas/ks.yaml
  - ./searxng/ks.yaml
  - ./webhook/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
