---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app victoria-logs
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  values:
    fullnameOverride: *app
    server:
      persistentVolume:
        enabled: true
        storageClassName: ceph-block
        size: 20Gi
      retentionPeriod: 14d
      route:
        enabled: true
        hostnames:
          - victoria-logs.${SECRET_DOMAIN}
        parentRefs:
          - name: internal
            namespace: network
        extraRules:
          - filters:
              - type: RequestRedirect
                requestRedirect:
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /select/vmui/
                  statusCode: 302
            matches:
              - path:
                  type: Exact
                  value: /
      serviceMonitor:
        enabled: true
    dashboards:
      enabled: true
