---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pihole-nebula-sync
  namespace: &namespace network
spec:
  interval: 1h
  targetNamespace: *namespace
  dependsOn:
    - name: pihole
  path: ./kubernetes/apps/network/pihole-nebula-sync/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
