---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app whisper
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: docker.io/rhasspy/wyoming-whisper
              tag: 3.1.0@sha256:9501d2659eee83b6eead98d53842193e5fed011eda6c5b1c3ad36f3146b28fed
            args:
              # - --stt-library=faster-whisper
              # - --model=distil-small.en
              # # - --compute-type=int8 # faster, but seems to make more errors
              - --stt-library=sherpa
              - --model=sherpa-onnx-nemo-parakeet-tdt-0.6b-v2-int8 # v2 is better for english
              - --language=en
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 500m
                memory: 512M
              limits:
                memory: 8G

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          wyoming:
            port: 10300

    persistence:
      data:
        size: 1Gi
        accessMode: ReadWriteOnce

      tmpfs:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /.cache
            subPath: cache
          - path: tmp
            subPath: tmp
