---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
# renovate: datasource=docker depName=ghcr.io/siderolabs/installer
talosVersion: v1.11.5
# renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
kubernetesVersion: v1.34.2

clusterName: kubernetes
endpoint: https://cluster.servers.internal:6443

clusterPodNets:
  - 10.69.0.0/16
  - fc69::/16
clusterSvcNets:
  - 10.96.0.0/16
  - fc96::/16

additionalApiServerCertSans: &sans
  - cluster.servers.internal
  - 127.0.0.1
additionalMachineCertSans: *sans

# Disable built-in Flannel to use Cilium
cniConfig:
  name: none

nodes:
  - hostname: lenovo-m700-1
    ipAddress: 192.168.20.61
    installDisk: /dev/sda
    machineSpec: &x64MachineSpec
      mode: metal
      arch: amd64
      secureboot: true
      useUKI: true
    schematic: &x64schematic
      customization:
        extraKernelArgs:
          - intel_iommu=on # PCI Passthrough
          - iommu=pt # PCI Passthrough
        systemExtensions:
          officialExtensions:
            - siderolabs/i915
            - siderolabs/intel-ucode
            - siderolabs/mei
            - siderolabs/nut-client
    controlPlane: false
    networkInterfaces:
      - &interface
        interface: bond0
        bond: &lenovoBond
          deviceSelectors:
            - hardwareAddr: c4:*
              driver: r8169
          mode: active-backup
        dhcp: false
        addresses:
          - 192.168.20.61/24
          - ${ipv6_prefix}:20::61/64
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.20.1
        mtu: 9000
        vlans:
          - vlanId: 30
            mtu: 9000
            dhcp: false
            dhcpOptions:
              routeMetric: 4096
    extensionServices: &extensionServices
      - name: nut-client
        configFiles:
          # default_password is to allow `talhelper gencommand`, but when doing `task talos:generate-config`, it's overridden
          - content: |-
              MONITOR cluster@nas.servers.internal 1 secondaryuser "${nut_password:=default_password}" secondary
              SHUTDOWNCMD "/sbin/poweroff"
            mountPath: /usr/local/etc/nut/upsmon.conf
    nodeLabels: &lenovoLabels
      cpu: i5-6400T
      intel.feature.node.kubernetes.io/gpu: 'true'
    patches: &lenovoPatches
      #
      #- '@./patches/intel/machine-encryption.yaml' # block.VolumeManagerController panics with runtime error out of range [0] with length [0] -> TPM to old to work?
      - &intelMachineSysfs '@./patches/intel/machine-sysfs.yaml'
      - &largeMachineSysctls '@./patches/large/machine-sysctls.yaml'

  - hostname: lenovo-m700-2
    ipAddress: 192.168.20.62
    installDisk: /dev/sda
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: false
    networkInterfaces:
      - <<: *interface
        bond: *lenovoBond
        addresses:
          - 192.168.20.62/24
          - ${ipv6_prefix}:20::62/64
    extensionServices: *extensionServices
    nodeLabels: *lenovoLabels
    patches: *lenovoPatches

  - hostname: lenovo-m700-3
    ipAddress: 192.168.20.63
    installDisk: /dev/sda
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: false
    networkInterfaces:
      - <<: *interface
        bond: *lenovoBond
        addresses:
          - 192.168.20.63/24
          - ${ipv6_prefix}:20::63/64
    extensionServices: *extensionServices
    nodeLabels: *lenovoLabels
    patches: *lenovoPatches

  - hostname: hp-800-g5-1
    ipAddress: 192.168.20.71
    installDiskSelector:
      serial: 1922DD470802
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: true
    networkInterfaces: # backup 1GbE port: 80:e8:2c:2f:b4:ad
      - <<: *interface
        bond: &hpBond
          <<: *lenovoBond
          deviceSelectors:
            - hardwareAddr: 6c:*
              driver: r8152
        addresses:
          - 192.168.20.71/24
          - ${ipv6_prefix}:20::71/64
        # vip: &vip
        #   ip: 192.168.20.2
    extensionServices: *extensionServices
    nodeLabels: &hpLabels
      cpu: i5-9500T
      intel.feature.node.kubernetes.io/gpu: 'true'
    patches: &hpPatches
      - '@./patches/intel/machine-encryption.yaml'
      - *intelMachineSysfs
      - *largeMachineSysctls
      - |-
        machine:
          sysfs:
            devices.system.cpu.cpu4.cpufreq.energy_performance_preference: balance_performance
            devices.system.cpu.cpu5.cpufreq.energy_performance_preference: balance_performance

  - hostname: hp-400-g5-1
    ipAddress: 192.168.20.72
    installDiskSelector:
      serial: S4GNNF0N211290
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: true
    networkInterfaces: # backup 1GbE port: e8:
      - <<: *interface
        bond: *hpBond
        addresses:
          - 192.168.20.72/24
          - ${ipv6_prefix}:20::72/64
        # vip: *vip
    extensionServices: *extensionServices
    nodeLabels: *hpLabels
    patches: *hpPatches

  - hostname: h3 #hp-400-g5-2
    ipAddress: 192.168.20.73
    installDisk: /dev/sda
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: false
    networkInterfaces: # backup 1GbE port: e8:
      - <<: *interface
        bond: *hpBond
        addresses:
          - 192.168.20.73/24
          - ${ipv6_prefix}:20::73/64
        # vip: *vip
    extensionServices: *extensionServices
    nodeLabels: *hpLabels
    patches: *hpPatches

  - hostname: hp-400-g4-1
    ipAddress: 192.168.20.74
    installDiskSelector:
      serial: S4GNNF0N206772
    machineSpec: *x64MachineSpec
    schematic: *x64schematic
    controlPlane: true
    networkInterfaces: # backup 1GbE port: e8:
      - <<: *interface
        bond: *hpBond
        addresses:
          - 192.168.20.74/24
          - ${ipv6_prefix}:20::74/64
    extensionServices: *extensionServices
    nodeLabels:
      cpu: i5-8500T
      intel.feature.node.kubernetes.io/gpu: 'true'
    patches: *hpPatches

  - hostname: q1
    ipAddress: 192.168.20.101
    installDisk: /dev/sda
    machineSpec:
      mode: nocloud
      arch: amd64
      secureboot: false
      useUKI: false
    schematic:
      customization:
        extraKernelArgs: []
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
            - siderolabs/nut-client
    controlPlane: false
    networkInterfaces:
      - <<: *interface
        bond:
          <<: *lenovoBond
          deviceSelectors:
            - driver: virtio_net
        addresses:
          - 192.168.20.101/24
          - ${ipv6_prefix}:20::101/64
    extensionServices: *extensionServices
    nodeLabels:
      cpu: qemu
    patches:
      - '@./patches/large/machine-sysctls.yaml'

# Global patches
patches:
  - '@./patches/global/machine-features.yaml'
  - '@./patches/global/machine-files.yaml'
  - '@./patches/global/machine-kubelet.yaml'
  - '@./patches/global/machine-modules.yaml'
  - '@./patches/global/machine-network.yaml'
  - '@./patches/global/machine-sysctls.yaml'
  - '@./patches/global/machine-time.yaml'
  - '@./patches/global/machine-udev.yaml'
  - '@./patches/global/watchdogtimerconfig.yaml'

# Controller patches
controlPlane:
  patches:
    - '@./patches/controller/admission-controller-patch.yaml'
    - '@./patches/controller/cluster.yaml'
    - '@./patches/controller/machine-features.yaml'
