---
# yaml-language-server: $schema=https://flux.tholinka.dev/helmrelease/v2/github/kubernetes-sigs/external-dns/master/charts/external-dns
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pihole-external-dns
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  dependsOn:
    - name: pihole
      namespace: network
  values:
    fullnameOverride: *app
    provider:
      name: pihole
    env:
      - name: &name EXTERNAL_DNS_PIHOLE_PASSWORD
        valueFrom:
          secretKeyRef:
            name: &secret pihole-external-dns-secret
            key: *name
    extraArgs:
      - --pihole-api-version=6
      - --pihole-server=http://pihole-0.pihole.network.svc.cluster.local
      - --annotation-filter=externaldns.enable.custom/internal notin (false,no)
    triggerLoopOnEvent: true
    policy: sync
    sources:
      - gateway-httproute
      - gateway-grpcroute
      - gateway-tlsroute
      - gateway-tcproute
      - gateway-udproute
      - service
    # Pihole only supports A/AAAA/CNAME records so there is no mechanism to track ownership.
    # You don't need to set this flag, but if you leave it unset, you will receive warning
    # logs when ExternalDNS attempts to create TXT records.
    registry: noop
    domainFilters: [tholinka.dev]
    serviceMonitor:
      enabled: true
    podAnnotations:
      secret.reloader.stakater.com/reload: *secret
