---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pihole
  namespace: &namespace network
spec:
  interval: 1h
  targetNamespace: *namespace
  path: ./kubernetes/apps/network/pihole/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  dependsOn:
    - name: storage-ready
      namespace: flux-system
  wait: true
  postBuild:
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
