---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app searxng
  namespace: &namespace self-hosted
spec:
  interval: 1h
  components:
    - ../../../../components/ext-auth
  path: ./kubernetes/apps/self-hosted/searxng/app
  postBuild:
    substitute:
      APP: *app
      EXT_AUTH_TARGET: searxng-external
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  dependsOn:
    - name: dragonfly-cluster
      namespace: database
