---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app lidarr
  namespace: &namespace media
spec:
  interval: 1h
  components:
    - ../../../../components/volsync
    - ../../../../components/keda/nfs-scaler
    - ../../../../components/ext-auth
  dependsOn:
    - name: storage-ready
      namespace: flux-system
  path: ./kubernetes/apps/media/lidarr/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 10Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
