---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10492@sha256:8cb062f2b0660bd7811387e6c799da0ce5f18112078fe21485c11adcc83a9c1c
            env:
              PLEX_ADVERTISE_URL: https://plex.tholinka.dev:443,http://plex.servers.internal:32400,http://plex.media.svc.cluster.local:32400
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /identity
                    port: &port 32400
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 1
                memory: 2Gi
              limits:
                memory: 16Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
      nodeSelector:
        cpu: i5-9500T
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: *app
    service:
      app:
        type: LoadBalancer
        ipFamilies: [IPv4, IPv6]
        ipFamilyPolicy: PreferDualStack
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 192.168.21.30, fd83:43a4:6dab:21::30
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 401"]
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs: [{}]
            filters:
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: [Range]
            matches:
              - path:
                  type: PathPrefix
                  value: /library/streams
          - backendRefs: [{}]
    persistence:
      config:
        existingClaim: '{{ .Release.Name }}'
      config-cache:
        existingClaim: '{{ .Release.Name }}-cache'
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Cache
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /config/Library/Application Support/Plex Media Server/Logs
            subPath: logs
          - path: /tmp
            subPath: tmp
      media:
        type: nfs
        server: nas.servers.internal
        path: /media
        globalMounts:
          - path: /media
            readOnly: true
