---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app slskd
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/slskd/slskd
              tag: 0.24.3@sha256:bcf9820dab68e21d2bba8ebb1ffd583d71fcba542a50a1e998119f69b7b498fe
            env:
              DOTNET_BUNDLE_EXTRACT_BASE_DIR: /tmp/.net
              SLSKD_APP_DIR: /config
              SLSKD_HTTP_PORT: &port 80
              SLSKD_NO_AUTH: true
              SLSKD_NO_HTTPS: true
              SLSKD_NO_VERSION_CHECK: true
              SLSKD_SLSK_LISTEN_PORT: &soulseekPort 50429
              SLSKD_METRICS: true
              SLSKD_METRICS_NO_AUTH: true
            envFrom:
              - secretRef:
                  name: '{{ .Release.Name }}'
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
              readiness: *probes
              startup: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                memory: 1Gi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        forceRename: '{{ .Release.Name }}'
        primary: true
        ports:
          http:
            port: *port
      soulseek:
        type: LoadBalancer
        ipFamilies: [IPv4, IPv6]
        ipFamilyPolicy: PreferDualStack
        externalTrafficPolicy: Local
        annotations:
          lbipam.cilium.io/ips: 192.168.21.11, fd83:43a4:6dab:21::11
        ports:
          soulseek-tcp:
            port: *soulseekPort
            protocol: TCP

    serviceMonitor:
      app:
        serviceName: slskd
        endpoints:
          - port: http

    route:
      app:
        hostnames: ['{{ .Release.Name }}.tholinka.dev']
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          slskd.yml: |-
            directories:
              downloads: /media/downloads/soulseek/complete
              incomplete: /media/downloads/soulseek/incomplete
            permissions:
              file:
                mode: 750
            shares:
              directories:
                - /media/music
              filters:
                - \.ini$
                - Thumbs.db$
                - \.DS_Store$
    persistence:
      config:
        existingClaim: *app

      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/slskd.yml
            subPath: slskd.yml
      media:
        type: nfs
        server: nas.servers.internal
        path: /media/downloads/soulseek
        globalMounts:
          - path: /media/downloads/soulseek
      media-shared:
        type: nfs
        server: nas.servers.internal
        path: /media/music
        globalMounts:
          - path: /media/music
            readOnly: true
      tmp:
        type: emptyDir
