---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app envoy-gateway
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: *app
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    global:
      imageRegistry: mirror.gcr.io
    config:
      envoyGateway:
        extensionApis:
          enableEnvoyPatchPolicy: true
        provider:
          type: Kubernetes
          kubernetes:
            deploy:
              type: GatewayNamespace
    hpa:
      enabled: true
      minReplicas: 1
      maxReplicas: 5
      metrics:
        - resource:
            name: cpu
            target:
              averageUtilization: 60
              type: Utilization
          type: Resource
      behavior:
        scaleUp:
          stabilizationWindowSeconds: 300
        scaleDown:
          stabilizationWindowSeconds: 300
