---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cross-seed
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: cross-seed-secret
    template:
      data:
        config.js: |
          function fetchIndexers(baseUrl, apiKey, tag){
            const buffer = require('child_process').execSync(`curl -fsSL "$${baseUrl}/api/v1/tag/detail?apikey=$${apiKey}"`);
            const response = JSON.parse(buffer.toString('utf8'));
            const indexerIds = response.filter(t => t.label === tag)[0]?.indexerIds ?? [];
            const indexers = indexerIds.map(i => `$${baseUrl}/$${i}/api?apikey=$${apiKey}`);
            console.log(`Loaded $${indexers.length} indexers from Prowlarr`);
            return indexers;
          }
          module.exports = {
            action: "inject",
            apiKey: "{{.CROSS_SEED_API_KEY}}",
            duplicateCategories: true,
            includeNonVideos: true,
            includeSingleEpisodes: true,
            seasonFromEpisodes: 0.8,
            linkCategory: "cross-seed",
            linkDirs: ["/media/downloads/qbittorrent/complete/cross-seed"],
            linkType: "reflink",
            matchMode: "partial",
            port: Number(process.env.CROSS_SEED_PORT),
            torrentClients: ["qbittorrent:http://qui.media.svc.cluster.local/proxy/{{ .CROSS_SEED_QBIT_PROXY }}"],
            radarr: ["http://radarr.media.svc.cluster.local/?apikey={{ .RADARR_API_KEY }}"],
            sonarr: ["http://sonarr.media.svc.cluster.local/?apikey={{ .SONARR_API_KEY }}"],
            torznab: fetchIndexers("http://prowlarr.media.svc.cluster.local", "{{ .PROWLARR_API_KEY }}", "cross-seed"),
            useClientTorrents: true,
          };
  dataFrom:
    - extract:
        key: cross_seed
    - extract:
        key: radarr
    - extract:
        key: sonarr
    - extract:
        key: prowlarr
