---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app orcaslicer
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/linuxserver/orcaslicer
              tag: 2.3.1@sha256:7e721ad25a50fa6c6e09d26f1305dc02ae6cea5835c13253cc8cfceb1686b2b7
            env:
              DRINODE: /dev/dri/renderD128
              GTK_THEME: Adwaita:dark # segfaults if no theme is set
              S6_READ_ONLY_ROOT: '1'
              PGID: '911' # default for this image
              PUID: '911' # default for this image
            probes:
              liveness: &probes
                enabled: true
                custom: false
                spec:
                  failureThreshold: 10
              startup: *probes
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFileSystem: true
            resources:
              claims:
                - name: gpu
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                cpu: 4
                memory: 3Gi

    defaultPodOptions:
      resourceClaims:
        - name: gpu
          resourceClaimTemplateName: *app

    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000

    route:
      *app :
        hostnames:
          - 'orca.${SECRET_DOMAIN}'
        parentRefs:
          - name: internal
            namespace: network
        rules:
          - backendRefs: [{}]
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/name: Orcaslicer
          gethomepage.dev/group: Home
          gethomepage.dev/icon: orcaslicer.webp

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /config/.config/OrcaSlicer
            subPath: orcaslicer
          - path: /config/models
            subPath: models

      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /run
            subPath: run
          - path: /tmp
            subPath: tmp
          - path: /config
            subPath: config
          - path: /config/.config/OrcaSlicer/log
            subPath: log
          - path: /config/.config/OrcaSlicer/cache
            subPath: cache
