---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app maintainerr
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      maintainerr:
        containers:
          app:
            image:
              repository: ghcr.io/maintainerr/maintainerr
              tag: 2.26.1@sha256:ec75e32d64879db9162b743a80ee6995781e821c15741c27ed2ccdd212789f44
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              #readOnlyRootFilesystem: true # causes __PATH_PREFIX___ to be in the url
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: 'OnRootMismatch'

    service:
      app:
        ports:
          http:
            port: 6246

    route:
      app:
        hostnames:
          - maintainerr.tholinka.dev
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /opt/data
      data-cache:
        existingClaim: maintainerr-cache
        globalMounts:
          - path: /opt/app/ui/.next/cache
