---
# yaml-language-server: $schema=https://flux.tholinka.dev/helmrelease/v2/github/controlplaneio-fluxcd/charts/main/charts/flux-operator
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-operator
  values:
    serviceMonitor:
      create: true
    web:
      # TODO switch to this after next release
      #configSecretName: flux-operator-web-config-secret
      networkPolicy:
        create: false
    extraArgs:
      - '--web-config=/etc/flux-operator/web/config.yaml'
    extraVolumeMounts:
      - name: web-config
        mountPath: /etc/flux-operator/web
        readOnly: true
    extraVolumes:
      - name: web-config
        secret:
          secretName: flux-operator-web-config-secret
