---
# yaml-language-server: $schema=https://flux.tholinka.dev/helmrelease/v2/github/controlplaneio-fluxcd/charts/main/charts/flux-operator
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: flux-operator
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: flux-operator
  valuesFrom:
    - &valuesFrom
      kind: Secret
      name: flux-operator-web-secret
      valuesKey: client-id
      targetPath: web.config.authentication.oauth2.clientID
    - <<: *valuesFrom
      valuesKey: client-secret
      targetPath: web.config.authentication.oauth2.clientSecret
  values:
    serviceMonitor:
      create: true
    web:
      config:
        authentication:
          oauth2:
            issuerURL: https://auth.tholinka.dev/application/o/flux-operator/
            provider: OIDC
            # provide values for bootstrap, get overwritten by valuesFrom
            clientID: not_used
            clientSecret: not_used
          type: OAuth2
          impersonation:
            username: 'claims.preferred_username'
        baseURL: https://flux-operator.tholinka.dev
      networkPolicy:
        create: false
