---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: webhook
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: webhook-secret
    template:
      data:
        GITHUB_WEBHOOK_SECRET: '{{ .GITHUB_WEBHOOK_SECRET }}'
  dataFrom:
    - extract:
        key: github
