---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-downloader
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  driftDetection:
    ignore:
      - paths: [/spec/replicas]
  values:
    controllers:
      *app :
        initContainers:
          init:
            image: &image
              repository: ghcr.io/calibrain/calibre-web-automated-book-downloader
              tag: v0.3.2@sha256:f73cccab5c14dbdbcb46084db84aabc9f5bb3a577d91ca0b00f1b846006c73da
            command:
              - bash
              - -c
              - 'exec cp -r /usr/local/lib/python3.10/site-packages/seleniumbase/drivers/* /mnt'
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }

        containers:
          app:
            image: *image
            env:
              FLASK_PORT: &port 80
              FLASK_DEBUG: false
              AA_BASE_URL: https://annas-archive.li
              INGEST_DIR: &ingest /cwa-book-ingest
              BOOK_LANGUAGE: en
            # envFrom:
            #   - secretRef:
            #       name: *app
            command: [python, -m, app] # don't run annoying init script
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /request/api/status
                    port: *port
              readiness: *probe
              startup: *probe
            securityContext: *securityContext
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits: # some of the cloudflare attempts can really spike usage
                cpu: 1
                memory: 1Gi
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        supplementalGroups: [65534] # nobody group, required since calibre-web-automated tries to use root on startup
        fsGroupChangePolicy: 'OnRootMismatch'

    service:
      app:
        ports:
          http:
            port: *port

    route:
      app:
        hostnames: ['{{ .Release.Name }}.tholinka.dev']
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      tmpfs:
        type: emptyDir
        advancedMounts:
          *app :
            app:
              # chromium needs the XDG_CONFIG_HOME created
              # because user 1000 doesn't exist, ~ = /
              - path: /.config
                subPath: config
              - path: /tmp
                subPath: tmp
              - path: /var/log/cwa-book-downloader/
                subPath: log
              - path: /app/downloaded_files
                subPath: download
              - path: /usr/local/lib/python3.10/site-packages/seleniumbase/drivers
                subPath: drivers
            init:
              - path: /mnt
                subPath: drivers
      media:
        type: nfs
        server: nas.servers.internal
        path: /media
        advancedMounts:
          *app :
            app:
              - path: *ingest
                subPath: downloads/openbooks
