---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ocis
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        initContainers:
          init-config:
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.3.1
            command:
              - /bin/sh
              - -c
            args:
              - |
                if [ ! -f /etc/ocis/ocis.yaml ]; then ocis init; else exit 0; fi
            env:
              OCIS_INSECURE: true

        containers:
          *app :
            image:
              repository: docker.io/owncloud/ocis
              tag: 7.3.1
            env:
              DEMO_USERS: false
              NOTIFICATIONS_SMTP_PORT: 587
              OCIS_LOG_COLOR: true
              OCIS_LOG_LEVEL: info
              OCIS_LOG_PRETTY: true
              OCIS_URL: https://files.tholinka.dev
              PROXY_TLS: false
              STORAGE_USERS_OCIS_ROOT: /data
              PROXY_CSP_CONFIG_FILE_LOCATION: /etc/ocis/csp.yaml
              PROXY_AUTOPROVISION_ACCOUNTS: true
              PROXY_OIDC_ACCESS_TOKEN_VERIFY_METHOD: none # https://github.com/owncloud/ocis/issues/6479
              PROXY_OIDC_SKIP_USER_INFO: false # do NOT set this to true when having TOKEN_VERIFY_METHOD as none, or we have no security
              PROXY_OIDC_REWRITE_WELLKNOWN: true
              PROXY_ROLE_ASSIGNMENT_DRIVER: oidc
              PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM: groups
              PROXY_USER_OIDC_CLAIM: preferred_username
              OCIS_OIDC_ISSUER: https://auth.tholinka.dev/application/o/ocis-web-client/
              WEB_OIDC_METADATA_URL: https://auth.tholinka.dev/application/o/ocis-web-client/.well-known/openid-configuration
              # see https://doc.owncloud.com/ocis/next/deployment/services/s-list/proxy.html#automatic-role-assignments for group name info
              WEB_OIDC_SCOPE: openid profile email groups
            envFrom:
              - secretRef:
                  name: ocis-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                memory: 1024Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        ports:
          http:
            port: 9200

    persistence:
      config:
        type: configMap
        name: *app
        globalMounts:
          - path: /etc/ocis/csp.yaml
            subPath: csp.yaml
            readOnly: true
      data:
        existingClaim: *app
        globalMounts:
          - subPath: 'data'
            path: '/data'
          - path: /var/lib/ocis
            subPath: data
          - path: /etc/ocis
            subPath: config
      tmpfs:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp

    route:
      app:
        hostnames:
          - files.tholinka.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/group: Home
          gethomepage.dev/name: ownCloud Infinite Scale
          gethomepage.dev/icon: owncloud.svg
