---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app orcaslicer
  namespace: &namespace self-hosted
spec:
  interval: 1h
  components:
    - ../../../../components/ext-auth
    - ../../../../components/volsync
  dependsOn:
    - name: storage-ready
      namespace: flux-system
  path: ./kubernetes/apps/self-hosted/orcaslicer/app
  postBuild:
    substitute:
      APP: *app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
