---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app atuin
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: ghcr.io/atuinsh/atuin
              tag: v18.11.0@sha256:18dba8938704706806d3c1133629ff2658c08bfa7815d71a916a8f072b61945b
            env:
              ATUIN_HOST: '::'
              ATUIN_PORT: &port 80
              ATUIN_OPEN_REGISTRATION: true
              ATUIN_METRICS__ENABLE: true
              ATUIN_METRICS__HOST: 0.0.0.0
              ATUIN_METRICS__PORT: &metricsPort 8081
              ATUIN_DB_URI:
                valueFrom:
                  secretKeyRef:
                    name: '${APP}-postgres'
                    key: url
            args:
              - server
              - start
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /healthz
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 64Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        ports:
          http:
            primary: true
            port: *port
          metrics:
            port: *metricsPort

    route:
      app:
        hostnames:
          - '{{ .Release.Name }}.tholinka.dev'
          - sh.tholinka.dev
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: 'true'
          gethomepage.dev/name: Atuin
          gethomepage.dev/group: Dev Tools
          gethomepage.dev/icon: atuin.svg
          gethomepage.dev/href: https://sh.tholinka.dev

    serviceMonitor:
      app:
        endpoints:
          - port: metrics

    persistence:
      config:
        type: emptyDir
      postgres-certs:
        type: secret
        name: 'postgres-{{ .Release.Name }}-cert'
        defaultMode: 0440
        globalMounts:
          - path: /var/run/secrets/postgresql
