---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app piper
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      *app :
        containers:
          app:
            image:
              repository: docker.io/rhasspy/wyoming-piper
              tag: 2.2.1@sha256:bcf04f784ade82a19279f7a1e72cc7c6147d8cd40557d633edb6d2885f23039c
            args:
              - --voice
              - en_US-hfc_female-medium
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ['ALL'] }
            resources:
              requests:
                cpu: 10m
                memory: 64M
              limits:
                memory: 512M

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    service:
      app:
        controller: *app
        ports:
          wyoming:
            port: 10200

    persistence:
      data:
        size: 1Gi
        accessMode: ReadWriteOnce

      tmpfs:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: tmp
            subPath: tmp
