---
# yaml-language-server: $schema=https://crd.movishell.pl/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name lidarr
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden
  target:
    name: *name
    creationPolicy: Owner
    template:
      data:
        LIDARR__AUTH__APIKEY: '{{ .LIDARR_API_KEY }}'
  dataFrom:
    - extract:
        key: lidarr
