---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
spec:
  interval: 1h
  timeout: 15m
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  dependsOn:
    - name: snapshot-controller
      namespace: system-controllers
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      # NOTE: Enable the driver and shapshotter if you want to use CephFS
      enableCephfsDriver: false
      enableCephfsSnapshotter: false
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDProvisionerResource: |
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
            limits:
              memory: 1Gi # Default
      csiRBDPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 16Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
        - name : csi-rbdplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
              cpu: 250m # default
            limits:
              memory: 1Gi # Default
        - name : liveness-prometheus
          resource:
            requests:
              memory: 64Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
      csiCephFSProvisionerResource: |
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
              cpu: 250m # default
            limits:
              memory: 1Gi # default
      csiCephFSPluginResource: |
        - name : driver-registrar
          resource:
            requests:
              memory: 16Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
        - name : csi-cephfsplugin
          resource:
            requests:
              memory: 128Mi # 512Mi is default
              cpu: 250m # default
            limits:
              memory: 1Gi # default
        - name : liveness-prometheus
          resource:
            requests:
              memory: 64Mi # 128Mi is default
              cpu: 50m # default
            limits:
              memory: 256Mi # default
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi # unchangable
        cpu: 100m # unchangable
      limits: {}
