---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app octoeverywhere-connect-cc
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      *app :
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: docker.io/octoeverywhere/octoeverywhere
              tag: 4.6.6@sha256:894f59c3631f5edd11a44ef3a8b257d3980b77d3a502f69a2bdcbcc07d47a366
            env:
              COMPANION_MODE: elegoo
              PRINTER_IP: cc.3dprinter.iot.internal
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: { drop: ['ALL'] }
              readOnlyRootFilesystem: true
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      data:
        existingClaim: *app
