---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateway
  namespace: &namespace network
spec:
  interval: 1h
  path: ./kubernetes/apps/network/envoy-gateway/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  wait: true
---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: envoy-gateway-config
  namespace: &namespace network
spec:
  interval: 1h
  dependsOn:
    - name: envoy-gateway
    - name: certificates-import
  path: ./kubernetes/apps/network/envoy-gateway/config
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  postBuild:
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
  healthChecks:
    - &healthCheck
      apiVersion: &gatewayVersion gateway.networking.k8s.io/v1
      kind: &gatewayKind Gateway
      name: envoy-external
      namespace: *namespace
    - <<: *healthCheck
      name: envoy-internal
    - <<: *healthCheck
      name: envoy-internal-root
    - &healthCheck
      apiVersion: &envoyVersion gateway.envoyproxy.io/v1alpha1
      kind: &clientKind ClientTrafficPolicy
      name: client
      namespace: *namespace
    - <<: *healthCheck
      kind: &backendKind BackendTrafficPolicy
      name: backend
  healthCheckExprs:
    - apiVersion: *gatewayVersion
      kind: *gatewayKind
      current: |-
        status.listeners.exists(l,
          l.conditions.filter(e, e.type == 'Accepted').exists(e, e.status == 'True') &&
          l.conditions.filter(e, e.type == 'Programmed').exists(e, e.status == 'True') &&
          l.conditions.filter(e, e.type == 'OverlappingCertificates').all(e, e.status == 'False'))
      failed: |-
        status.listeners.exists(l,
          l.conditions.filter(e, e.type == 'Accepted').exists(e, e.status == 'False') ||
          l.conditions.filter(e, e.type == 'Programmed').exists(e, e.status == 'False') ||
          l.conditions.filter(e, e.type == 'OverlappingCertificates').exists(e, e.status == 'True'))
    - &expr
      apiVersion: *envoyVersion
      kind: *clientKind
      current: status.ancestors.exists(e, e.conditions.filter(e, e.type == 'Accepted').exists(e, e.status == 'True'))
      failed: status.ancestors.exists(e, e.conditions.filter(e, e.type == 'Accepted').exists(e, e.status == 'False'))
    - <<: *expr
      kind: *backendKind
