---
# docker-compose for the version running on the nas, quickly bashed together from my old pre-kubernetes docker swarm config
services:
  dnscrypt-proxy:
    restart: always
    pull_policy: always
    image: ghcr.io/klutchell/dnscrypt-proxy:main
    # ports:
    #   - "5053:5053/tcp"
    #   - "5053:5053/udp"
    networks:
      pihole:
        ipv4_address: 172.20.0.7
    healthcheck:
      test:
        - CMD
        - /usr/local/bin/dnsprobe
        - localhost
        - '127.0.0.1'
    configs:
      - source: dnscrypt-config
        target: /config/dnscrypt-proxy.toml
  pihole:
    restart: always
    pull_policy: always
    image: ghcr.io/pi-hole/pihole:latest
    ports:
      - target: 53
        published: 53
        protocol: tcp
        mode: host
      - target: 53
        published: 53
        protocol: udp
        mode: host
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host
    networks:
      pihole:
        ipv4_address: 172.20.0.6
    environment:
      TZ: America/Chicago
      WEBPASSWORD_FILE: pihole-password
      FTLCONF_dns_listeningMode: all
      FTLCONF_dns_dnssec: 'false'
      FTLCONF_dns_upstreams: 172.20.0.7;192.168.20.7
      FTLCONF_webserver_interface_boxed: false
      FTLCONF_webserver_interface_theme: default-auto
      FTLCONF_webserver_port: 80
      #PH_VERBOSE: 1
    healthcheck:
      test:
        - CMD
        - /usr/bin/nslookup
        - pihole
        - '127.0.0.1'
      start_period: 1m
    configs:
      #   - source: pihole-dnsmasq
      #     target: /etc/dnsmasq.d/02-custom.conf
      #   - source: dns_localhost
      #     target: /etc/dnsmasq.d/03-localhost.conf
      - source: dns_update_lists
        target: /config/update.sh
    entrypoint:
      - sh
      - -c
      # slightly modified update.sh:
      # - remove lines 8-11
      # - insert in place of those lines:
      #     echo;
      #     echo "Prepping dnsmasq"
      #     mkdir -p /etc/dnsmasq.d
      #     curl https://raw.githubusercontent.com/tholinka/home-ops/refs/heads/main/kubernetes/apps/network/pihole/app/resources/02-custom.conf -o /etc/dnsmasq.d/02-custom.conf
      #     curl https://raw.githubusercontent.com/tholinka/home-ops/refs/heads/main/kubernetes/apps/network/pihole/app/resources/03-hosts.conf -o /etc/dnsmasq.d/03-hosts.conf
      # - replace coredns ip with 172.20.0.7
      - /config/update.sh && exec /usr/bin/start.sh
    secrets:
      - pihole-password
    volumes: # comment to remove persistence
      - ./pihole:/etc/pihole

networks:
  pihole:
    driver_opts:
      com.docker.network.driver.mtu: 9000
    enable_ipv6: true
    ipam:
      config:
        - subnet: 172.20.0.0/24

configs:
  dnscrypt-config: # from network/dnscrypt-proxy.toml
    file: ./dnscrypt-proxy.toml
  dns_update_lists:
    file: ./update.sh

secrets:
  pihole-password: # chmod to 400
    file: ./pihole-password
