---
# yaml-language-server: $schema=https://flux.tholinka.dev/helmrelease/v2/github/external-secrets/external-secrets/main/deploy/charts/external-secrets
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: external-secrets
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: external-secrets
  values:
    installCRDs: true
    replicaCount: 1
    leaderElect: true
    image:
      repository: ghcr.io/external-secrets/external-secrets
    webhook:
      image:
        repository: ghcr.io/external-secrets/external-secrets
    certController:
      image:
        repository: ghcr.io/external-secrets/external-secrets
    serviceMonitor:
      enabled: true
      interval: 1m
    grafanaDashboard:
      enabled: true
    grafana:
      enabled: true
    reportsController:
      serviceMonitor:
        enabled: true
        interval: 1m
    bitwarden-sdk-server:
      enabled: true
      podAnnotations:
        secret.reloader.stakater.com/reload: 'bitwarden,bitwarden-tls-certs'
