---
# yaml-language-server: $schema=https://schemas.tholinka.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app intel-gpu-resource-driver
spec:
  chartRef:
    kind: OCIRepository
    name: *app
  interval: 1h
  values:
    cdi:
      staticPath: /var/cdi/static
      dynamicPath: /var/cdi/dynamic
    kubeletPlugin:
      nodeSelector:
        intel.feature.node.kubernetes.io/gpu: 'true'
