---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app opencloud
  namespace: &namespace self-hosted
spec:
  interval: 1h
  # components:
  #   - ../../../../components/volsync # kopia can't backup the xattr that opencloud's posixfs requires: https://github.com/kopia/kopia/issues/544
  dependsOn:
    - name: storage-ready
      namespace: flux-system
  path: ./kubernetes/apps/self-hosted/opencloud/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 150Gi
      VOLSYNC_GROUP_CHANGE_POLICY: OnRootMismatch
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
