---
# yaml-language-server: $schema=https://schemas.tholinka.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app vernemq
  namespace: &namespace database
spec:
  interval: 1h
  components:
    - ../../../../components/ext-auth
  path: ./kubernetes/apps/database/vernemq/app
  prune: true
  dependsOn:
    - name: crds-ready
      namespace: flux-system
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: *namespace
  postBuild:
    substitute:
      APP: *app
    substituteFrom:
      - kind: Secret
        name: ipv6
        optional: false
  wait: true
