---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./certificates/ks.yaml
  - ./cloudflare-external-dns/ks.yaml
  - ./cloudflare-tunnel/ks.yaml
  - ./dnscrypt-proxy/ks.yaml
  - ./echo/ks.yaml
  - ./multus/ks.yaml
  - ./envoy-gateway/ks.yaml
  - ./pihole/ks.yaml
  - ./pihole-external-dns/ks.yaml
  - ./pihole-nebula-sync/ks.yaml
components:
  - ../../components/common
  - ../../components/repos/app-template
